@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


html {
    overflow-y:scroll;
    font-family: Poppins;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

body {
    background-color: #EDF1F6;
    background-size: cover;
}

/*For the background transition properties*/
.bg {
  position: fixed;
  z-index: -1;
  top: 100%;
  right: 100%;
  bottom: 100%;
  left: 100%;
  transition: .25s;
  pointer-events: none;
}

/*to destroy any list bulletpoints*/
li {
    list-style: none;
}

/*for About page center align "Resources for diverse HUMAN scale figures"*/
.other-resources {
    text-align: center;
}

/*COLUMN1*/
.first-column {
    overflow: hidden;
    position: relative;
}

a { color: inherit; 
    text-decoration: none; 
}

a:hover {
    color: #FF5B5B
}

/*Zuplankta big red letters */
.header {
    font-size: 40px;
    font-weight: bold;
    color: #FF5B5B;
}

.first-column li: first-child:hover .bg{
    background: #ffca6d;
}
.first-column li: nth-child(2):hover .bg{
    background: #ff6d6d;
}

/*main menu*/
.menu {
    font-size: 12px;
    color: #A5A5A5;
    padding-bottom: 20px;
    font-weight:400;
}

/*links at bottom menu*/
.bottom-menu {
    font-size: 12px;
    color: #A5A5A5;
    padding-top: 60px;
    font-weight:400;
}

.about {
    font-size: 14px;
    font-weight: 400px;
    color: #A5A5A5;
    padding-top: 60px;
    box-sizing: border-box; 
    width: 600px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.zoom {
  transition: transform .25s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* Note: if the zoom is too large, it will go outside of the viewport) */
}

.sneak {
    margin: 0;
    padding: 0;
    -moz-transform: scale(0.3);
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}

.hide {
    display: none;
    width: 9999px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 1;
  max-width: 24%;
  padding: 0px;
}

.column img {
  margin-top: 80px;
  vertical-align: center;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
